# Codelite build files
src/Makefile*
**/.codelite
.DS_Store
**/.DS_Store
All
Release
Dev
Debug
src/*.txt
src/*.mk
# GNUMake build files
bin
build
build_nohypre
# Ctags files
src/.ctagsd
# Temp files
*.d
*.o
*.tmp
*.pyc
# IDE files
*.json
# MacOS files
.DS_Store

# regression suite run directories
tests/regression/runs/
__pycache__/
!tests/regression/cases/**/*.json
!tests/validation/cases/**/*.json
