Makefile*
**/.codelite
.codelite/.tern-port
Release
Debug
*.session
*.db
*.tags
*.d
*.o
*.pyc
bin
lib
obj
.codelite/.tern-port   
.codelite/REEF3D.tags  
.codelite/refactoring.db
REEF3D.batch_build
REEF3D.mk
*.workspace.session
REEF3D.txt
*.txt
